div#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
  width: calc(70vw - 5em);
  margin: 15vh 15vw 15vh calc(15vw + 5em);
  border-radius: 5em;
  background: #0007;
  z-index: 5;
  backdrop-filter: blur(0.25em);
  -webkit-backdrop-filter: blur(0.25em);
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
}

div#contact > div {
  margin: 2.5em;
}

div#contact > div#contactInformation {
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#contact > div#contactInformation > a.contactInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em;
  background: var(--dark);
  border-radius: 2.5em;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
}

div#contact > div#contactInformation > a.contactInfoBox:hover {
  background: var(--accent);
}

div#contact > div#contactInformation > a.contactInfoBox > img {
  width: 3em;
  margin-right: 1em;
  filter: invert(100%);
}

div#contact > div#contactForm {
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#contact > div#contactForm > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  height: 80%;
  min-width: 25em;
  background: radial-gradient(ellipse at top right, var(--accent), var(--accent-transparent));
  border-radius: 2.5em;
  /* border: 5px solid white; */
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
}

div#contact > div#contactForm > form > * {
  margin: 1em;
}

div#contact > div#contactForm > form > input,
div#contact > div#contactForm > form > textarea {
  background: var(--darker);
  min-height: 2em;
  width: 80%;
  border-radius: 1em;
  padding: 0.5em;
  resize: none;
  box-shadow: inset 0 0 0.5em #0009;
  border: 0;
}

div#contact > div#contactForm > form > textarea {
  overflow-y: auto;
}
  
div#contact > div#contactForm > form > textarea::-webkit-scrollbar {
  width: 6px;
}

div#contact > div#contactForm > form > textarea::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
 
div#contact > div#contactForm > form > textarea::-webkit-scrollbar-thumb {
  background: var(--light);
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
}

div#contact > div#contactForm > form > textarea::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

div#contact > div#contactForm > form > label {
  font-size: smaller;
  color: #fff5;
}

div#contact > div#contactForm > form > button {
  height: 3em;
  width: 30%;
  background: var(--darker);
  /* border: 3px solid white; */
  border: none;
  border-radius: 1.5em;
  transition-duration: 0.5s;
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
}

div#contact > div#contactForm > form > button:hover {
  background: var(--dark);
}

div#contact > div#contactForm > form > button.clicked {
  background: #090;
  width: 3em;
}