div#about {
  position: relative;
  display: block;
  width: calc(70vw - 5em);
  height: 50vh;
  margin: 25vh 15vw 25vh calc(15vw + 5em);
  /* border: solid white 5px; */
  backdrop-filter: blur(0.25em);
  -webkit-backdrop-filter: blur(0.25em);
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
  border-radius: 3em;
  background: radial-gradient(ellipse at bottom left, var(--accent), var(--accent-transparent));
}

div#about > div#photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  opacity: 0;
  transition: all 1s;
}

div#about > div#photo > img {
  position: absolute;
  left: calc(15% - 25vh);
  bottom: -5px;
  max-width: 26em;
  max-height: 50vh;
}

div#about > div#infoButtons {
  position: absolute;
  top: 1.5em;
  right: -100vw;
  transition: all 1s;
}

div#about > div#infoButtons > button {
  position: relative;
  display: inline-block;
  border: 0;
  background: none;
  padding: 5px 1em;
  height: 2.2em;
  border-radius: 1.1em;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin-left: 3px;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

div#about > div#personalBox {
  position: absolute;
  right: -100vw;
  top: 5em;
  bottom: 2em;
  width: 50%;
  border-bottom: 2px solid white;
  transition: all 1s;
}

div#about > div#personalBox > div#infoContainer {
  position: absolute;
  width: 300%;
  top: 0;
  bottom: 0;
  transition: left 0.5s;
}

div#about > div#personalBox > div#infoContainer > div {
  position: relative;
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
  padding: 0.5em;
  overflow-y: auto;
}