div.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20em;
  height: 20em;
  margin: 1.5em;
  /* border: 5px solid white; */
  border-radius: 3em;
  cursor: pointer;
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
}

div.project > div.loadingAnim {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.25em);
  background: #0005;
  z-index: 10;
}

div.project > div.loadingAnim div {
  border-top: var(--accent) solid 0.5em;
  border-bottom: var(--accent) solid 0.5em;
  border-left: transparent solid 0.5em;
  border-right: transparent solid 0.5em;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

div.project > div.loadingAnim > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 3em;
}

div.project > div.loadingAnim > div > div {
  width: 4em;
  height: 4em;
  border-radius: 2em;
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

div.project > div.projVideo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  filter: saturate(0%) brightness(50%);
  transition-duration: 0.5s;
}

div.project:hover > div.projVideo {
  filter: saturate(100%) brightness(100%);
}

div.project > div.projVideo > video {
  max-width: 100%;
  max-height: 100%;
}

div.project > div.projHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  /* background: #000c; */
  background: radial-gradient(ellipse at bottom, var(--accent), var(--accent-transparent));
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
  backdrop-filter: blur(0.25em);
  z-index: 30;
}

div.project > div.projHeader > div.projName {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0.2em;
  width: 8em;
}

div.project > div.projHeader > div.projEnvImg {
  width: max-content;
}

div.project > div.projHeader > div.projEnvImg > img {
  width: 2em;
  display: inline-block;
  filter: invert(100%);
}

div.project > div.projTechStack {
  /* background: #000c; */
  background: radial-gradient(ellipse at bottom, var(--accent), var(--accent-transparent));
  box-shadow: 0 0 2em -0.25em #000c, 0 0 0.3em #fff2 inset;
  backdrop-filter: blur(0.25em);
  display: flex;
  justify-content: center;
  z-index: 30;
}

div.project > div.projTechStack > img {
  width: 2em;
  margin: 0.5em;
  filter: invert(100%);
}