div#main {
  position: relative;
  display: block;
  width: calc(60vw - 5em);
  margin: 45vh 20vw 45vh calc(20vw + 5em);
}

div#main > h1,
div#main > h3 {
  margin: 0;
}

div#main > h1 {
  font-size: 4em;
}

div#main > h3 {
  font-size: 1.5em;
}