div#info {
  position: relative;
  display: block;
  width: 70vw;
  height: 50vh;
  margin: 25vh 15vw;
  border: solid white 5px;
  border-radius: 3em;
  background: radial-gradient(ellipse at bottom left, var(--accent-transparent), transparent);
}

div#info > div#photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  opacity: 0;
  transition: all 1s;
}

div#info > div#photo > img {
  position: absolute;
  left: calc(15% - 25vh);
  bottom: -5px;
  max-width: 26em;
  max-height: 50vh;
}

div#info > div#infoButtons {
  position: absolute;
  top: 1.5em;
  right: 5em;
  transition: all 1s;
}

div#info > div#infoButtons > button {
  position: relative;
  display: inline-block;
  border: 0;
  background: none;
  padding: 5px;
  margin-left: 3px;
  font-size: 1.2em;
  font-weight: 700;
}

div#info > div#personalBox {
  position: absolute;
  right: 5em;
  top: 5em;
  bottom: 2em;
  width: 50%;
  border-bottom: 2px solid white;
  transition: all 1s;
}

div#info > div#personalBox > div#infoContainer {
  position: absolute;
  width: 300%;
  top: 0;
  bottom: 0;
  transition: left 0.5s;
}

div#info > div#personalBox > div#infoContainer > div {
  position: relative;
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
  padding: 0.5em;
  overflow-y: auto;
}