header#header {
  position: relative;
  display: block;
  width: calc(60vw - 5em);
  margin: 45vh 20vw 45vh calc(20vw + 5em);
}

header#header > h1,
header#header > p.subHeader {
  margin: 0;
  font-weight: 700;
}

header#header > h1 {
  font-size: 4em;
}

header#header > p.subHeader {
  font-size: 1.5em;
}