div.projectView {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 5vw;
  top: 5vh;
  right: -100vw;
  width: calc(100vw - 10em);
  height: 90vh;
  border: 5px solid white;
  border-right: none;
  border-radius: 5em 0 0 5em;
  background: #000d;
  z-index: 1000;
  transition-duration: 0.5s;
}

div.projectView.shown {
  right: 0;
}

div.projectView > div.closeView {
  position: fixed;
  height: 4em;
  width: 4em;
  left: -100vw;
  top: calc(50vh - 3em);
  background: #000;
  border: 5px solid white;
  border-radius:2em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

div.projectView > div.closeView:hover {
  background: var(--light);
}

div.projectView > div.closeView:active {
  background: var(--accent);
}

div.projectView > div.closeView > p {
  font-size: 2em;
}

div.projectView.shown > div.closeView {
  left: 7em;
}

div.projectView > h2.projectViewName,
div.projectView > p.projectViewLanguages {
  width: 100%;
  text-align: center;
}

div.projectView > p.projectViewDescription {
  width: 80%;
  margin: 10%;
}

div.projectView > div.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 4em;
}

div.projectView > div.technologies > div.technology {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.projectView > div.technologies > div.technology > * {
  min-width: 2.5em;
}

div.projectView > div.technologies > div.technology > img {
  width: 2.5em;
  margin: 1.5em;
  filter: invert(100%);
}

div.projectView > div.technologies > div.technology > div.techInfo > div.techImages {
  display: flex;
  flex-direction: row;
}

div.projectView > div.technologies > div.technology > div.techInfo > div.techImages > img {
  width: 1.5em;
  margin: 0.5em;
  filter: invert(100%);
}