@import url('./styleVariables.css');

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--light-transparent);
  border: 8px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
 
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border: 5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
  border: 5px solid transparent;
  background-clip: content-box;
}

* {
  color: white;
  font-family: Inter;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--darker);
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

div#root > div {
  display: flex;
  flex-direction: column;
}

a {
  white-space: pre-wrap; /* CSS3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

span.blink {
  animation: underscoreBlink 1s infinite;
  animation-iteration-count: infinite;
}