@import url('./styleVariables.css');

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333333;
  border: 2px solid white;
}
 
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border: 4px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

* {
  color: white;
  font-family: Inter;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--darker);
  width: 100vw;
}

html {
  overflow-y: scroll;
}

div#root > div {
  display: flex;
  flex-direction: column;
}