@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --darker: #212121;
    --dark: #333333;
    --light: #878787;
    --accent: #720000;
    --darker-transparent: #21212144;
    --dark-transparent: #33333344;
    --light-transparent: #87878744;
    --accent-transparent: #72000044;
}