@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --darker: #212121;
    --dark: #333333;
    --light: #878787;
    --accent: #720000;
}

.darkerBg { background: var(--darker); }
.darkBg { background: var(--dark); }
.lightBg { background: var(--light); }
.accentBg { background: var(--accent); }

.darkerTxt { color: var(--darker); }
.darkTxt { color: var(--dark); }
.lightTxt { color: var(--light); }
.accentTxt { color: var(--accent); }